// Variables

@brand-primary: #0085A1;
 
@gray-light: #eee;

// Theme variables used by hux-blog.less
@theme-link-hover: @brand-primary;
@theme-post-meta: #808080;
@theme-pager-bg: #ffffff;
@theme-pager-border: #eee;
@theme-nav-fixed-brand: #ffffff;